@import '../../style/button.scss';
@import '../../style/variables.scss';

.charlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 675px;
    &__list {
        display: flex;
        column-gap: 25px;
        row-gap: 30px;
        flex-wrap: wrap;
    }
    &__item {
        width: 200px;
        height: 318px;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
        background: #232222;
        cursor: pointer;
        transition: transform 0.3s;
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 1000ms ease-in;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 1000ms ease-in;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        margin-left: 15px;
        margin-top: 15px;
        text-transform: uppercase;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .item-selected {
        transform: translateY(-8px);
        filter: drop-shadow(0px 5px 20px $main-color);
    }
}

